




* {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    body { 
      font-family: sans-serif; 
      padding: 40px; /* marginesy, żeby karuzela nie dotykała krawędzi ekranu */
      background-color: #f9f9f9;
      margin: 0%;
      padding: 0%;
    }

    h2 {
      text-align: center;
      color: #333;
    }

    .gallery {
      background: linear-gradient(90deg, rgb(164,25,23) 0%, rgb(238, 139, 26) 20%);
      padding: 20px 0; /* Dodatkowy odstęp od góry i dołu */
      border-radius: 10px;
    }

    .gallery-cell {
      width: 66%;
      height: 250px;
      margin-top: 1em;
      margin-right: 10px;
      background: #B19564;
      border-radius: 10px; /* Zaokrąglone rogi kafelków */
      counter-increment: gallery-cell;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Delikatny cień */
    }

    /* Numery wewnątrz komórek */
    .gallery-cell:before {
      display: block;
      text-align: center;
      content: counter(gallery-cell);
      line-height: 250px;
      font-size: 80px;
      color: white;
      font-weight: bold;
    }






#gora-pasek {
    background-color: #757992;
    height: 3em;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.menu-ikona {
    float: left;
    font-size: 35px;
    color: #888;
    margin-left: 20px;
    margin-top: -5px;
}

.znaczek-logo {
    background-color: #D2DADB;
    width: 30px;
    height: 30px;
    border-radius: 100px; 
    font-weight: bold;
    text-align: center;
    line-height: 30px;

    position: absolute;
    left: 48%;
    top: 10px;
}

.kolko-awatar {
    background-color: #B28381;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.glowa {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 5px;
    opacity: 0.7;
}

.ramiona {
    background-color: #ffffff;
    width: 20px;
    height: 15px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 1px;
    opacity: 0.7;
}

.pierwszy-panel {
    height: 400px;
    p{
        margin-left: 20px;
    }
    margin-top: 3em;
}
/* zawartość panelu 2 */
.drugi-panel {
    background-color: #DED6D1;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
}
.rightcol {
    background-color: #9593be;
    width: 25%;
    height: 100%;
    margin-right: 16.5%;
    float: unset;
    flex-grow: 0;
    flex-shrink: 0;
}
.leftcol{
    background-color: #a4a2be;
    width: 42%;
    height: 100%;
    margin-left: 0px;
    float: unset;
    flex-grow: 0;
    flex-shrink: 0;
}
.st_linkget{
    background-color: #111110;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin-left: 5%;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}
/* zawartość panelu 2 */
.trzeci-panel {
    background-color: #EEC6CA;
    height: 800px; 
}
.czwarty-panel {
    background-color: #FFB7C3;
    height: 800px;
}
